.App {
    text-align: center;
    background-color: #cdddf0;
    padding: 3px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1326px;
    margin: 0 auto;
}

.Card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}