.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 93%;
    padding-right: 60px;
    margin-left: 20px;
    margin-top: 20px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .footer button {
    background-color: white; 
    color: rgb(29, 28, 28);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 11px;
  }
  
  .footer button:hover {
    background-color: #0056b3; 
  }
  
  .footer span {
    font-size: 16px;
    margin: 0 5px;
    color: #333;
  }
  
 
  
  